html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

main {
    flex: 1;
    background: #f1f1f1;
    width: 50%;
    font-size: 20px;
}

.header {
  overflow: hidden;
  background-color: #883225;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: center;
}

footer {
  height: 50px;
  width: 100%;
  background: #883225;
  padding: 20px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
}