{% extends 'WineAnalyzer/base.html' %}

{% load static %}

{% block title %}Check your wine!{% endblock %}

{% block style_link %}
<link type="text/css" href="{% static 'WineAnalyzer/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<form id="regForm" action="">

<h1>Enter data:</h1>

<div class="tab">Enter acids:
  {% for el in acids %}
    <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>
  {% endfor %}
</div>

<div class="tab">Enter sugar and chlorides:
  {% for el in sugar_chlorides %}
    <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>
  {% endfor %}
</div>

<div class="tab">Enter sulfur dioxides:
    {% for el in sulfur_dioxides %}
      <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>
    {% endfor %}
</div>

<div class="tab">Enter remaining elements:
    {% for el in others %}
      <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>
    {% endfor %}
</div>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>
  {% if result != -1 %}
    <h1>{{result}}</h1>
  {% endif %}

  {% block script_link %}
  <script src="{% static 'WineAnalyzer/js/script.js' %}"></script>
  {% endblock %}

  <span class="fa fa-star" style="color: orange"></span>
  <span class="fa fa-star" style="color: orange"></span>
  <span class="fa fa-star" style="color: orange"></span>
  <span class="fa fa-star" style="color: orange"></span>
  <span class="fa fa-star"></span>

</form>
{% endblock %}