{% extends 'WineAnalyzer/base.html' %}

{% load static %}

{% block title %}Check your wine!{% endblock %}

{% block style_link %}
<link type="text/css" href="{% static 'WineAnalyzer/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<h1>Enter data:</h1>
<form class="elements-form" action="{% url 'analyzer' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add</button>
</form>

{% if result >= 0 %}
  {% for i in stars %}
      <span class="fa fa-star" {% if i <= result %} style="color: orange"  {% endif %}></span>
  {% endfor %}
{% endif %}

{% endblock %}