{% extends 'WineAnalyzer/base.html' %}

{% load static %}

{% block title %}Check your wine!{% endblock %}

{% block style_link %}
<link type="text/css" href="{% static 'WineAnalyzer/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

<h1>Enter data:</h1>
<form class="elements-form" action="{% url 'analyzer' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add</button>
</form>

{% if result >= 0 %}
{% for i in stars %}
    <span class="fa fa-star" {% if i <= result %} style="color: orange"  {% endif %}></span>
{% endfor %}
{% endif %}

<!--  <span class="fa fa-star" style="color: orange"></span>-->
<!--  <span class="fa fa-star" style="color: orange"></span>-->
<!--  <span class="fa fa-star" style="color: orange"></span>-->
<!--  <span class="fa fa-star" style="color: orange"></span>-->
<!--  <span class="fa fa-star"></span>-->

<!--<form id="regForm" action="">-->

<!--<div class="tab">Enter acids:-->
<!--  {% for el in acids %}-->
<!--    <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>-->
<!--  {% endfor %}-->
<!--</div>-->

<!--<div class="tab">Enter sugar and chlorides:-->
<!--  {% for el in sugar_chlorides %}-->
<!--    <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>-->
<!--  {% endfor %}-->
<!--</div>-->

<!--<div class="tab">Enter sulfur dioxides:-->
<!--    {% for el in sulfur_dioxides %}-->
<!--      <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>-->
<!--    {% endfor %}-->
<!--</div>-->

<!--<div class="tab">Enter remaining elements:-->
<!--    {% for el in others %}-->
<!--      <p><input type="number" placeholder="{{el}}" oninput="this.className = ''"></p>-->
<!--    {% endfor %}-->
<!--</div>-->

<!--<div style="overflow:auto;">-->
<!--  <div style="float:right;">-->
<!--    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>-->
<!--    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>-->
<!--  </div>-->
<!--</div>-->

<!--<div style="text-align:center;margin-top:40px;">-->
<!--  <span class="step"></span>-->
<!--  <span class="step"></span>-->
<!--  <span class="step"></span>-->
<!--  <span class="step"></span>-->
<!--</div>-->


  {% block script_link %}
  <script src="{% static 'WineAnalyzer/js/script.js' %}"></script>
  {% endblock %}


</form>
{% endblock %}