{% extends 'WineAnalyzer/base.html' %}

{% load static %}

{% block title %}Winederful!{% endblock %}

{% block style_link %}
<link type="text/css" href="{% static 'WineAnalyzer/css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<a class="home-text">
    Step into the exciting world of wine analysis, breaking down your favourite drink into its fundamental elements.
</a>
<a class="start-button" href="/analyzer">Start analyzing</a>
<a class="learn-button" href="/about">Learn more</a>

{% endblock %}
