{% extends 'WineAnalyzer/base.html' %}

{% load static %}

{% block title %}Winederful!{% endblock %}

{% block style_link %}
<link type="text/css" href="{% static 'WineAnalyzer/css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<a class="home-text">
    Step into the exciting world of wine analysis, breaking down your favourite drink into its fundamental elements.
</a>

<img src="{% static 'WineAnalyzer/images/wine-image.jpg' %}" alt="Image">



<a class="start-button" href="{% url 'analyzer' %}">Start analyzing</a>
<a class="learn-button" href="{% url 'about' %}">Learn more</a>

{% endblock %}
