{% extends 'WineAnalyzer/base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus lectus non sagittis placerat. Integer
    scelerisque, turpis ut malesuada tincidunt, ex lorem iaculis mauris, id pharetra sapien nulla vulputate nibh.
    Aliquam erat volutpat. Donec quis viverra leo, sit amet varius erat. Fusce facilisis fringilla mi. Etiam facilisis
    elementum placerat. Nulla posuere pretium quam quis ullamcorper. Nunc nunc turpis, sagittis ut aliquet eu, hendrerit
    eu velit. Aliquam ultricies, velit quis bibendum scelerisque, quam mi consequat nibh, quis ullamcorper elit massa
    sed eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eu commodo
    ligula, sit amet ullamcorper leo. Morbi nec velit at metus dictum mattis. Mauris tempus nisl ut ornare ornare. Nulla
    efficitur ut odio et maximus. Donec viverra ac felis eget commodo. Phasellus facilisis ut arcu eu congue.

    Phasellus at metus vel eros eleifend gravida nec vel elit. Duis dapibus massa et est aliquam, et ultrices quam
    tristique. Integer vitae tempor ex. Proin vel venenatis nisl. Donec vel ligula malesuada odio mattis gravida a eget
    risus. Sed a sagittis risus. Duis mollis risus non elit sodales fermentum. Vivamus pretium magna sed rhoncus
    sagittis.

    Pellentesque aliquam sollicitudin magna, ac dapibus justo tincidunt non. Vivamus at dolor ac nibh tristique
    placerat. Nullam lobortis enim et tortor scelerisque rutrum. Quisque auctor, urna viverra vulputate ultrices, elit
    sem interdum massa, quis malesuada mi enim sed erat. Integer eros justo, porta nec mi ac, rutrum varius erat. Nam
    mollis est nibh, non dictum velit semper vitae. Fusce et sem nunc. Vivamus in lacinia lectus. Praesent faucibus
    lacus a nibh accumsan vestibulum. Curabitur varius dui ac dolor suscipit, non condimentum diam ultrices.
    Pellentesque mattis imperdiet ipsum sed tristique. Phasellus bibendum arcu at mi bibendum ultricies. Donec imperdiet
    posuere luctus. Nam a tortor ut dolor cursus tincidunt.

    Integer ut pellentesque nulla, nec dignissim quam. Ut luctus elit ut quam condimentum laoreet. Ut viverra posuere
    mi, non hendrerit risus porta id. Suspendisse porttitor, eros rutrum dictum consequat, massa neque lacinia diam, vel
    imperdiet felis ex sed enim. Ut vitae enim ut libero efficitur dignissim. Mauris luctus mi sit amet nibh condimentum
    bibendum. Sed fermentum auctor lectus a rutrum. Nullam mattis, ligula at facilisis mollis, orci arcu scelerisque
    sem, non ullamcorper magna elit vel neque. Morbi scelerisque nunc ipsum, eu pellentesque urna ullamcorper a. Vivamus
    id diam sit amet nisl aliquet placerat rhoncus non felis. Vivamus vitae diam in dui efficitur feugiat a id mi.
    Curabitur faucibus congue fringilla. Ut pharetra libero ac felis posuere, in euismod elit posuere. Quisque luctus
    sem eget finibus rhoncus.

    Suspendisse at libero nec arcu porta finibus eu et justo. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia curae; Fusce dui massa, hendrerit dictum velit ac, suscipit aliquam odio. Praesent sodales
    scelerisque elit, eu pharetra ante semper eu. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Nunc euismod lacus a fermentum consequat. Ut tincidunt massa at mauris interdum, id
    bibendum justo fringilla.</p>
{% endblock %}
